html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  transition: 1s ease-in-out 2s;
}

.hp {
  display: flex;
  height: 100vh;
}
.hp__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hp__header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
}
.hp__headerwrp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
.hp__headerwrp a {
  text-decoration: none;
  color: gray;
}
.hp__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hp__sendbid {
  border: 1px solid lightgray;
  display: flex;
  width: 500px;
  height: 350px;
  border-radius: 7px;
}
.hp__sendbid form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hp__sendbid form input {
  border: 1px solid gray;
  width: 400px;
  height: 30px;
  border-radius: 3px;
  padding-left: 10px;
}
.hp__sendbid form textarea {
  width: 410px;
}
.hp__sendbid form button {
  border: none;
  width: 410px;
  height: 35px;
  background-color: lightgray;
  cursor: pointer;
}
